  @-webkit-keyframes infinite-spinning {
     from {
       -webkit-transform: rotate(0deg);
     }
     to {
       -webkit-transform: rotate(360deg);
     }
  }
  @keyframes infinite-spinning {
     0% {
       -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       transform: rotate(0deg);
     }
     100% {
       -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       transform: rotate(360deg);
     }
  }

.button{
  background-color: white;
  color: teal;
  padding: 10px;
  height: 50px;
  width: 30px;
  border-radius: 5px;
}

.fadeBox{
	display:block;
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left: 0px;
	background-color: rgba(0,0,0,.6);
}

.spinner1{
    -webkit-animation: infinite-spinning 1s infinite linear;
    animation: infinite-spinning 1s infinite linear;
	height: 50px;
	width: 50px;
	display:block;
	margin:auto;
	margin-top: 25%;
	background-image: url(swirl1.png);
	background-size: contain;
}

.spinner2{
    -webkit-animation: infinite-spinning 1s infinite linear;
    animation: infinite-spinning 1s infinite linear;
  height: 50px;
  width: 50px;
  display:block;
  margin:auto;
  margin-top: 25%;
  background-image: url(swirl2.png);
  background-size: contain;
}

.spinner3{
    -webkit-animation: infinite-spinning 1s infinite linear;
    animation: infinite-spinning 1s infinite linear;
  height: 50px;
  width: 50px;
  display:block;
  margin:auto;
  margin-top: 25%;
  background-image: url(swirl3.png);
  background-size: contain;
}